@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Questrial', sans-serif;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #34495e;
  text-decoration: none;
}
